global-exclude *.py[co]
global-exclude .DS_Store
include LICENSE
include README.rst
include CHANGES.rst
include requirements.txt
include runtests.py
recursive-include mock_server *
recursive-include mock_server/example *
recursive-include mock_server/static *
recursive-include mock_server/static/css *
recursive-include mock_server/static/js *
recursive-include mock_server/static/js/ace *
recursive-include mock_server/static/img *
recursive-include mock_server/templates *
recursive-include mock_server/tests *
recursive-include mock_server/tests/api *
recursive-include mock_server/tests/api/user *
recursive-include mock_server/tests/api/user/tom *
recursive-include mock_server/tests/api/RPC2 *
