<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mock Server - simple mock server for your REST API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mock Server - simple mock server for your REST API">

    <link href="/__static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/__static/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/__static/vendor/prettify/css/prettify.css" type="text/css" rel="stylesheet" />
    <link href="/__static/vendor/pagedown/css/markdown-editor.css" type="text/css" rel="stylesheet" />
    <link href="/__static/css/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body{% block bodyattrs %}{% end %}>
    {% block header %}
    {% end %}
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Mock Server</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if current_user %}
              <li{% if active_page == "create_resource" %} class="active"{% end %}><a href="/__manage/create">Create</a></li>
              {% end %}
              <li{% if active_page == "list_resources" %} class="active"{% end %}><a href="/__manage">Resources</a></li>
              <li{% if active_page == "resources_logs" %} class="active"{% end %}><a href="/__manage/logs">Access Log</a></li>
              {% if current_user %}
              <li{% if active_page == "settings" %} class="active"{% end %}><a href="/__manage/settings">Settings</a></li>
              {% end %}
            </ul>
            {% if handler.api_data.password %}
            <p class="navbar-text pull-right">
            {% if current_user %}
              <a href="/__manage/logout" class="navbar-link">Logout</a>
            {% else %}
              <a href="/__manage/login" class="navbar-link">Sign in</a>
            {% end %}
            </p>
            {% end %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        {% block body %}{% end %}

      </div><!--/row-->
    </div><!--/.fluid-container-->

    <script src="/__static/vendor/jquery/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/__static/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/__static/vendor/prettify/js/prettify.js" type="text/javascript" charset="utf-8"></script>
    <script src="/__static/js/util.js" type="text/javascript" charset="utf-8"></script>

    {% block javascripts %}{% end %}
  </body>
</html>
