<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mock Server - simple mock server for your REST API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mock Server - simple mock server for your REST API">

    <link href="/__static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/__static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/__static/css/prettify.css" type="text/css" rel="stylesheet" />
    <link href="/__static/css/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    {% block header %}
    {% end %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Mock Server</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if active_page == "create_resource" %} class="active"{% end %}><a href="/__manage/create">Create resource</a></li>
              <li{% if active_page == "list_resources" %} class="active"{% end %}><a href="/__manage">Resources</a></li>
              <li{% if active_page == "resources_logs" %} class="active"{% end %}><a href="/__manage/logs">Access Log</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        {% block body %}{% end %}

      </div><!--/row-->
    </div><!--/.fluid-container-->

    <!-- <script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="/__static/js/jquery.min.js"></script>
    <script src="/__static/js/bootstrap.min.js"></script>
    <script src="/__static/js/prettify.js"></script>

    {% block javascripts %}{% end %}
  </body>
</html>